{% extends 'gallery/base.html' %}
{% load static %}

{% block content %}
<div class="profile-header">
    <div class="profile-picture-container">
        {% if user.profile.profile_image %}
            <img src="{{ user.profile.profile_image.url }}" alt="{{ user.username }} profilképe" class="profile-picture-large">
        {% else %}
            <!-- Alapértelmezett profilkép -->
            <img src="{% static 'images/default_profile.png' %}" alt="Alapértelmezett profilkép" class="profile-picture-large">
        {% endif %}
    </div>
    <div class="profile-info">
        <h2>{{ user.username }}</h2>
        <p>{{ user.profile.bio }}</p>
        <a href="{% url 'profile_edit' %}" class="edit-profile-button">Profil szerkesztése</a>
    </div>
</div>

<div class="profile-gallery">
    {% if images %}
        {% for image in images %}
        <div class="gallery-item">
            <a href="{% url 'image_detail' image.pk %}">
                <img src="{{ image.image_file.url }}" alt="{{ image.title }}">
            </a>
            {% if image.uploader == user %}
            <form method="post" action="{% url 'image_delete' image.pk %}" onsubmit="return confirm('Biztosan törölni szeretnéd ezt a képet?');">
                {% csrf_token %}
                <button type="submit">Törlés</button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    {% else %}
        <p>Még nem töltöttél fel képeket.</p>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<!-- Saját script -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var elem = document.querySelector('.profile-gallery');
        var msnry = new Masonry( elem, {
            // options
            itemSelector: '.gallery-item',
            columnWidth: '.gallery-item',
            percentPosition: true,
            gutter: 10
        });
    });
</script>
{% endblock %}
