<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Best Gallery</title>
    {% load static %}
     <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Saját CSS fájl -->
    <link id="theme" rel="stylesheet" type="text/css" href="{% static 'css/light.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/tagify.css' %}">-->

    <script>
        function switchTheme() {
            const theme = document.getElementById('theme');
            const lightTheme = "{% static 'css/light.css' %}";
            const darkTheme = "{% static 'css/dark.css' %}";
        
            if (theme.getAttribute('href') === lightTheme) {
                theme.setAttribute('href', darkTheme);
                document.getElementById("switchTheme").innerHTML="Világos"
                localStorage.setItem('theme', 'dark');  // Mentés localStorage-be
            } else {
                theme.setAttribute('href', lightTheme);
                localStorage.setItem('theme', 'light'); // Mentés localStorage-be
                document.getElementById("switchTheme").innerHTML="Sötét"
            }
        }
        
        document.addEventListener("DOMContentLoaded", function() {
            const savedTheme = localStorage.getItem('theme');
            const theme = document.getElementById('theme');
            
            // Alapértelmezett beállítás light.css, ha nincs mentett téma
            if (savedTheme === 'dark') {
                theme.setAttribute('href', "{% static 'css/dark.css' %}");
            } else {
                theme.setAttribute('href', "{% static 'css/light.css' %}");
            }
        });
    </script>
</head>
<body>

    <header>
        <div class="header-bar">
            <div class="logo-title">
                <a href="{% url 'image_list' %}" class="logo-container">
                    <img src="{% static 'images/Frame 132.png' %}" alt="Best Gallery Logo" class="logo">
                </a>
                <h1 class="site-title">
                    <span class="best">Best</span>
                    <span class="gallery">Gallery</span>
                </h1>
            </div>
            <nav>
                <ul class="navbar">
                    <li><a href="{% url 'image_list' %}">Főoldal</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'search' %}">Kereső</a></li>

                        <li><a href="{% url 'image_upload' %}">Fotó hozzáadása</a></li>
                        <li><a href="{% url 'friend_search' %}">Barát keresés</a></li>
                        <li><a href="{% url 'account_settings' %}">Saját fiók</a></li>
                        <li><a href="{% url 'inbox' %}">Üzenetek</a></li>
                        <li><a href="{% url 'logout' %}">Kijelentkezés</a></li>
                        <li><a href="{% url 'help_page' %}">Segítség</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}?next={{ request.path }}">Bejelentkezés</a></li>
                        <li><a href="{% url 'signup' %}">Regisztráció</a></li>
                        <li><a href="{% url 'help_page' %}">Segítség</a></li>
                    {% endif %}
                    <li><a id="switchTheme" onclick="switchTheme()">Sötét</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; {{ current_year|default:"2024" }} Best Gallery. Minden jog fenntartva.</p>
    </footer>
    <!-- jQuery (szükséges a Select2-höz) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Szükség esetén a Select2 magyar nyelvi fájlja -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/hu.min.js"></script>

{% block scripts %}
<!--<script src="{% static 'js/tagify.js' %}"></script>-->
<script>
    // Keresőmező Tagify inicializálása
    var input = document.querySelector('.search-form input[name="q"]');
    if (input) {
        var tagify = new Tagify(input, {
            whitelist: [],
            dropdown: {
                classname: "tags-look",
                enabled: 0,
                maxItems: 5,
                position: "all",
                closeOnSelect: false
            }
        });

        // Címke ajánlások betöltése
        fetch("{% url 'tag_list' %}")
            .then(response => response.json())
            .then(function(whitelist){
                // A '#' jel hozzáadása a címkékhez
                whitelist = whitelist.map(function(tag) {
                    return '#' + tag;
                });
                tagify.settings.whitelist = whitelist;
            });
    }
    
</script>
{% endblock %}
</body>
</html>
