{% extends 'gallery/base.html' %}

{% block content %}
<!-- Galéria részletei -->
<div class="profile-header">
    <div class="profile-info">
        <h1>{{ gallery.name }}</h1>
        <p>{{ gallery.description }}</p>
    </div>
</div>

<!-- Képek listázása a galériában -->
<div id="image-view" class="profile-gallery">
    {% if gallery.images.all %}
        {% for image in gallery.images.all %}
        <div class="gallery-item">
            <a href="{% url 'image_detail' image.pk %}">
                <img src="{{ image.image_file.url }}" alt="{{ image.title }}">
            </a>
        </div>
        {% endfor %}
    {% else %}
        <p>A galéria még nem tartalmaz képeket.</p>
    {% endif %}
</div>

<!-- Saját script -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var elem = document.querySelector('.profile-gallery');
        var msnry = new Masonry( elem, {
            // options
            itemSelector: '.gallery-item',
            columnWidth: '.gallery-item',
            percentPosition: true,
            gutter: 10
        });
    });
</script>

{% endblock %}