{% extends 'gallery/base.html' %}

{% block content %}

<h2>Segítség és GYIK</h2>
<p>Itt található a gyakran ismételt kérdések listája és a segítségkérés lehetősége.</p>
<div class = "faq">
    <div class="question">
        <h3>Regisztració</h3>
    </div>
    <div class="answer">
        <p>
            Kattints a regisztáció gombra és add meg a megfelelő adatokat. Figyelj oda hogy nem minden adat kotelező és a jelszónak vannak követelménei.
        </p>
    </div>
</div>

<div class = "faq">
    <div class="question">
        <h3>Belépés</h3>
    </div>
    <div class="answer">
        <p>
            Kattints a belépés gombra és add meg a megfelelő adatokat. Figyelj oda hogy előzetes regisztració szükséges a belépéshez.
        </p>
    </div>
</div>

<div class = "faq">
    <div class="question">
        <h3>Képfeltöltés</h3>
    </div>
    <div class="answer">
        <p>
            Kattints a fotó hozzáadáása gombra. Válaszd ki a feltolteni kívánt képet, add meg a címét, írj leírást a képhez, válassz tageket a listrából. Ha MIndennel végeztél kattints a feltoltés gopmbra.
        </p>
    </div>
</div>

{% endblock %}
