{% extends 'gallery/base.html' %}
{% load static %}

{% block content %}
<div class="image-detail">
    <h2>{{ image.title }}</h2>
    <img src="{{ image.image_file.url }}" alt="{{ image.title }}">
    <p>{{ image.description }}</p>
    {% if image.tags.all %}
        <p>Címkék:
            {% for tag in image.tags.all %}
                <span class="tag">{{ tag.name }}</span>
            {% endfor %}
        </p>
    {% else %}
        <p>Nincsenek címkék ehhez a képhez.</p>
    {% endif %}
</div>
{% endblock %}
