{% extends 'gallery/base.html' %}
{% load static %}

{% block content %}

<h2>Legújabb képek</h2>
<div class="gallery-grid">
    {% for image in images %}
    <div class="gallery-item">
        <a href="{% url 'image_detail' image.pk %}">
            <img src="{{ image.image_file.url }}" alt="{{ image.title }}">
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script>
    // Masonry inicializálása a képek betöltése után
    var grid = document.querySelector('.gallery-grid');
    var msnry;

    imagesLoaded(grid, function() {
        // Masonry inicializálása
        msnry = new Masonry( grid, {
            itemSelector: '.gallery-item',
            columnWidth: '.gallery-item',
            percentPosition: true,
            gutter: 20
        });
    });
</script>
{% endblock %}